/* Universal Box Sizing with Inheritance*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
* {
}

/* Clearfix hack */

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

/* LAYOUT STUFF */

.title {
	width: 50%;
	float: left;
}

/* Aligning the Top */
h1 {
	margin-top: 0;
}
ul {
	margin-top: 0;
}
header {
	padding-top: 2%;
	padding-left: 2%;
	padding-right: 2%;
}


nav {
	width: 50%;
	float: right;
	text-align: right;

}

nav li {
		display: inline-block;
		padding: 2% 2% 1% 2%;

}

.tagline {
	clear: both;
	padding: 2%;
}

.callbox {
	width: 50%;
	float: right;
	padding: 2%;
	margin: 2%;
}
.button {
	padding: 3% 0;
	text-align: center;
}
.threeboxes {
	clear: both;
	overflow: auto; /* not sure why clearfix didn't work -- NEED TO ADD THE CLEARFIX CLASS WITH CORRECT SYNTAX!!  */
}
.box {
	width: 33.33333%;
	float: left;
	padding: 3%;
	margin: 3% 0;
	border-right: 1px solid silver;
}
.box:last-child { /* 'last-child' MUST BE RIGHT NEXT TO SELECTOR.  NO SPACE! */
	border-right: none;
}
footer {
	clear: both;
	padding: 2%;

}


/*--------- STYLING STUFF ---------*/
h1,h3,.tagline {
	font-family: 'Merriweather', serif;
}
h1,h3 {
	font-weight: 400;
}
nav li {
	font-weight: 300;
}
header {
	background: black;
	color: white;
	border-bottom: 2px solid gold;
}
body {
	font-family: 'Open Sans', sans-serif;
}
.people {
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
}
.tagline {
	background: lightcyan;
	text-align: center;
	box-shadow: 10px 10px 5px black; /* NOT WORKING */
	font-style: italic;
	border-top: 1px solid grey;
}
.twoguys {
	background: url(../images/coworking.jpg) no-repeat;
	overflow: auto;
    background-position: 60% 40%;
    background-size: cover;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.callbox {
	background: rgba(255,255,255,0.75);
	box-shadow: 0 0 20px grey; /* first two values offset */
}
.button {
	background: silver;
	border-radius: 5px;
	text-transform: uppercase;
	box-shadow: 0 2px 5px #404040; /* first two values offset */
	font-family: 'Oswald', sans-serif;
}
.callbutton {
	background-color: red;
	color: white;
}
footer {
	background: dimgray;
	color: white;
	font-weight: 300;
}
